* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.header {
  background: #f8e1db;
  padding: 20px 80px;
}
.header ul {
  margin-top: 20px;
}
.header li {
  display: inline;
  margin-right: 20px;

  /* margin: 10px 20px 30px 40px;  top right buttom left*/
  /* margin: 20px 40;  y x */
  /* margin: 40px ;  all */
}

.header li a {
  color: #000000;
  text-decoration: none;
}

.header img {
  width: 50px;
  /* height: 100px;
  object-fit: contain; */
}

/* start carousel */
.carousel {
  background-image: url(./Image/BG.png);
  height: 80vh;
  background-size: cover;
  background-position: center;
}

/* end carousel */

/* start activiese */
.activities {
  padding: 80px 0px;
  /* background: #faf5f1; */
  background: #e1d3c7;
}
.activites__title {
  text-align: center;
}
.activities__item {
  text-align: center;
  width: 25%;
  padding: 20px;
  float: left;
}
.item__container {
  border-radius: 16px;
  background: white;
  width: 100%;
  padding: 30px;
}
/* font awesome */
.item__img {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.item__img .heart {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 8px;
  text-align: center;
  /* opacity: 0.5; */
}
.heart i {
  color: #e66c4c;
  line-height: 50px;
}
.item__img img {
  width: 100%;
  display: block;
}
.activities__item .item__detail {
  padding-top: 20px;
}
.activities__item .item__detail p {
  margin: 20px 0;
}
.activities__item .item__detail button {
  border: none;
  padding: 15px 35px;
  border-radius: 20px;
  text-transform: capitalize;
}

/* end activiese */

/* .footer {
  width: 200px;
  height: 100px;
  background: red;
  margin: 100px auto;
  border-radius: 50%;
} */
