.cotainer {
  height: 700px;
  background: blue;
}

.parent {
  height: 500px;
  width: 100%;
  background: #000;
}
.child-1 {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  left: 50%;
  z-index: -1;
  /* position: relative; */
  /* bottom: -100px; */
  /* right: 10px; */
  /* position: absolute; */
  /* right: 0px;
  bottom: 0px; */
}
.child-2 {
  width: 100px;
  height: 100px;
  background: yellow;
}

/* relative absolute */
