/* selector ~ bộ chọn */

h2 {
  color: green;
}
/* h1 {
  color: red;
} */
p.title {
  color: brown;
}
.title {
  color: green;
}
p.title {
  color: blue;
}
#title p {
  color: orange;
}
.header .title,
.footer,
button {
  color: red;
}
